<link href="../img/logo.png" rel="icon" type="../image/x-icon"/>

<link rel="stylesheet" href="~/css/galeria.css" type="text/css">
  
<body>
        <nav> 
                <ul>
                  <li>GALERIA</li>
                  <img src="../img/logo.png" alt="Logotipo do Rolê Top" title="logo" height="200px" width="250px" /> 
                  <a asp-controller="Home" asp-action="index">VOLTAR PARA PAGINA INICIAL</a>
                </ul>
            </nav>
            <div class="der">
             <p> FOTOS DO LOCAL</p>
             <p> FOTOS DE EVENTOS</p>
            </div>
            <section id="Galeria">
              <div class="area-galeria">
                  <ul>
                      <li><a href="#balada2"><img src="../img-galeria/galps (2).jpg" class="min"  height="500px" width="550px"  ></a></li>
                      <li><a href="#balada2"><img src="../img-galeria/galps3.jpg" class="min"  height="500px" width="550px"  ></a></li>
                      <li><a href="#balada2"><img src="../img-galeria/galps.jpg" class="min"  height="500px" width="550px"  ></a></li>
                  </ul>
              </div>
              <div class="galeria-eve">
             <ul>
               <li><a href="#balada3"> <img src="../img-galeria/img-eve.jpg" class="min" height="500px" width="550px"></a></li>
               <li><a href="#balada3"> <img src="../img-galeria/img-eve.png" class="min" height="500px" width="550px"></a></li>
               <li><a href="#balada3"> <img src="../img-galeria/img-eve1.jpg" class="min" height="500px" width="550px"></a></li>
             </ul>
              </div>
                 
              </section>
</body>