 <link href="../img/logo.png" rel="icon" type="image/x-icon"/>

 <link rel="stylesheet" href="~/css/home.css" type="text/css">

<body>
    <header>
      <nav id="home" > 
     
                   
                </a>
              <p id="homep" >HOME</p>
              <img src="../img/logo.png" alt="Logotipo do Rolê Top" title="logo" height="200px" width="250px" /> 
            </div>
              <div id="home">
              <form method="GET" action="Cadastro.html">
              <input type="submit" value="CADASTRAR" class="hm" style="margin-left: 25px;" aps-controller ="Cliente" asp-action="Cadastro" />
             </form> 
             <a asp-controller="Home" asp-action="index">VOLTAR PARA PAGINA INICIAL</a>
             <form method="GET" action="login.html">
              <input type="submit" value="LOGAR" class="hm" style="margin-left: 25px;" aps-controller ="Cliente" asp-action="Login" />
             </form>

            </div>
          </nav>
          <div class="uau">
        <a  id="eventos"aps-controller ="Cliente" asp-action="Agenda"> VER EVENTOS</a>
  </div>
      <div id="sobrenos">
       <h2> ALEXANDRE </h2>
       <img src="../img/jiraiya.jpg" alt="ALEXANDRE" height="200px" width="250px"/>
        <p> 
          ousou em meio às rochas. Suas asas se fecharam, seu corpo começava a se esfriar.
           O peso dos anos fazia suas melancólicos.Pousou em meio às rochas. Suas asas se fecharam, seu corpo começava a se esfriar. 
           O peso dos  
          </p>
          <h2>CESAR</h2>
          <img src="../img/KakashiHatake_Naruto_0.jfif" alt="CESAR" height="200px" width="250px"/>
          <p> 
            ousou em meio às rochas. Suas asas se fecharam, seu corpo começava a se esfriar.
             O peso dos anos fazia suas melancólicos.Pousou em meio às rochas. Suas asas se fecharam, seu corpo começava a se esfriar. 
             O peso dos  
            </p>
            
   </div>
   <div class="okkk">
      <label for="FEEDBACK" > FEEDBACK</label>
       <input type="text"  class="okk">
     </div>
  
   
        
            
    </header>
  
</body>