  <link href="../img/logo.png" rel="icon" type="../image/x-icon"/>
    <link rel="stylesheet" href="~/css/cadastro.css" type="text/css">

<body>
    <header>
      <nav> 
            <ul>
              <li>CADASTRAR</li>
              <li><img src="../img/logo.png" alt="Logotipo do Rolê Top" title="logo" height="200px" width="250px" /> </li>
              <a asp-controller="Home" asp-action="index">VOLTAR PARA PAGINA INICIAL</a>
            </ul>
        </nav>
        <main id="man">
         <form method="POST" action='@Url.Action("CadastrarCliente","Cadastro")'>
        <div class="hm">
            <label for="nome">Nome Completo:</label>
            
            <input id="nome" type="text" maxlength="50" minlength="3" name="nome" />
        </div>

        <div class="hm">
            <label for="senha">Senha:</label>
           
           
            <input id="senha" type="password" maxlength="20" minlength="3" name="senha" />
        </div>

        <div class="hm">
            <label for="cpfcnpj">CPF/CNPJ:</label>
            
            <input id="cpfcnpj" type="cpfcnpj" maxlength="20" name="cpfcnpj"/>
        </div>

        <div class="hm">
            <label for="email">E-mail:</label>
            
            <input id="email" type="email" maxlength="50" name="email"/>
        </div>
        
        <input type="submit" value="CADASTRAR" class="hm" style="margin-left: 25px;"/>
</form>
    </main>
    </header>
    
</body>